.footer__copyright {
    margin-top: 46px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
}

@media screen and (min-width: 880px) {
    .footer__copyright {
        font-size: 18px;
        line-height: 22px;
        margin-top: 70px;
    }
}